@import "src/styles/variable";

.paper {
  width: 100%;
  background: #FFFFFF 0 0 no-repeat;
  border-radius: 3px;
  margin: 9px 0;
  padding: 48px 0;
  display: flex;
  justify-content: center;

  &__container {
    width: 100%;
  }

  &__title {
    text-align: left;
    font-family: $font-family-secondary;
    font-weight: $font-weight-secondary-medium;
    font-size: $font-size-large;
    letter-spacing: 0.36px;
    color: $dark-grey;
  }

  &__content {
    margin-top: 17px;
  }

  @media screen and (max-width:1196px) {
    margin: 0 0 9px;
  }

}
