@import "src/styles/variable";

.btn {
  background: $primary;
  text-decoration: none;
  transition: all 200ms ease-in;
  display: inline-block;
  color: #FFFFFF;
  font-weight: $font-weight-base-semi-bold;
  border: 1px solid $primary;
  padding: 6px 10px 7px;
  border-radius: 5px;
  cursor: pointer;

  &:hover {
    background: rgba(224, 26, 26, .5);
    color: #ffffff;
  }

  &__fullwidth {
    width: 100%;
  }

  &__inverted {
    color: $primary;
    background: #FFFFFF;

  }

  &__icon {
    margin-right: 10px;
  }

  &__dull {
    color: #707070;
  }

  &__flat {
    border: none;
    background: #FFFFFF;
  }
}
