@import "src/styles/variable";

.topbar {
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background: #FFFFFF 0 0 no-repeat;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  z-index: 100;

  &__container {
    max-width: 1196px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    @media screen and (max-width:1196px) {
      padding-left: 27px;
    }
  }
  &__list {
    margin-left: 15px;
    list-style: none;
    display: flex;
    height: 100%;
    @media screen and (max-width:768px) {
      display: none;
    }
  }

  &__item {

  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    cursor: pointer;
    padding: 0 36px;
    font-weight: $font-weight-base-semi-bold;
    &:hover {
      background: rgba(224, 26, 26, .1);
    }
  }
}
