@import 'src/styles/variable';

.app-container {
  background: $light-grey;
  width: 100%;
  min-width: 328px;
  min-height: 100vh;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50px;
}
