@import "src/styles/variable";

.listing {
  max-width: 1196px;
  width: 100%;
  &__paper-container {
    max-width: 936px;
    padding: 0 20px;
    @media screen and (max-width:935px) {
      max-width: 784px;
    }
    @media screen and (max-width:783px) {
      max-width: 632px;
    }
    @media screen and (max-width:631px) {
      max-width: 480px;
    }
    @media screen and (max-width:479px) {
      max-width: 328px;
    }
  }
}
