$default: #4D4D4D;
$primary: #E01A1A;
$light-grey: #EEEEEE;
$grey: #D8D8D8;
$dark-grey: #333333;
$border-color: #B9B9B9;
$border-color-light: #F0F0EE;

$font-family-base: "Open Sans", Arial, Helvetica, sans-serif;
$font-family-secondary: "Roboto", Arial, Helvetica, sans-serif;

$font-size-base: 14px !default;
$font-size-extra-extra-large: 20px;
$font-size-extra-large: 18px;
$font-size-large: 16px;
$font-size-medium: 14px;
$font-size-small: 12px;
$font-size-extra-small: 10px;

$font-weight-base-regular: 400;
$font-weight-base-semi-bold: 600;
$font-weight-base-extra-bold: 800;
$font-weight-secondary-medium: 500;
$font-weight-secondary-bold: 700;
