@import "src/styles/variable";

.logo {
  display: inline-flex;
  color: $primary;
  text-decoration: none;
  padding-top: 10px;
  &__part-1 {
    font-size: 36px;
    font-weight: $font-weight-base-extra-bold;
  }
  &__part-2 {
    font-size: 18px;
    font-weight: $font-weight-base-extra-bold;
    display: flex;
    align-items: flex-end;
    padding-bottom: 8px;
  }
}
