@import "src/styles/variable";

.similar {
  box-sizing: border-box;
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
  @media screen and (max-width: 768px) {
    margin-right: 0;
    margin-left: 0;
  }

  &__title {
    font-size: $font-size-large;
    font-weight: $font-weight-base-semi-bold;
    color: #707070;
    width: 100%;
    padding: 0 6.5px;
    margin: 20px 0 5px;
  }

  &__item-container {
    flex-basis: 136px;
    max-width: 136px;
    box-sizing: border-box;
    -webkit-box-flex: 0;
    padding-right: 6.5px;
    padding-left: 6.5px;
  }

  &-card {
    $self: &;
    width: 100%;
    border: 1px solid #D8D8D8;
    border-radius: 4px;
    padding: 0 8px 10px;
    box-sizing: border-box;
    margin-bottom: 13px;
    &__thumbnail {
      height: 0;
      overflow: hidden;
      /*
        Card's width and height are 140px and 78px respectively
        To keep this ratio without stretching/squeezing the image
        and still able to adopt in other situation for the example
        it is decided that the width of card change to percentage

        78 / 140 = 0.557142857
      */
      padding-top: 55.7142857%;
      background: #FFFFFF;
      position: relative;
      border-radius: 10px;
      #{ $self }__image {
        background: #FFFFFF;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        height: 100%;
      }
    }
    &__title {
      font-family: $font-family-secondary;
      font-weight: $font-weight-secondary-medium;
      font-size: $font-size-small;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      margin-top: 4.75px;
    }
    &__price {
      font-family: $font-family-secondary;
      font-weight: $font-weight-secondary-bold;
      color: $primary;
      margin-top: 14px;
    }

    &__cursor--pointer {
      cursor: pointer;
    }
  }

}
