@import "src/styles/variable";

.view {
  $self: &;
  max-width: 1196px;
  width: 100%;
  &__paper {
    padding: 13px 83px;
    @media screen and (max-width: 768px) {
      padding: 13px 0;
    }
  }
  &__breadcrumbs {
    font-size: $font-size-extra-small;
    font-weight: $font-weight-base-regular;
    letter-spacing: 0;
    color: $dark-grey;

    &-link {
      color: $dark-grey;

      &:hover {
        color: $primary;
      }
    }
    @media screen and (max-width: 768px) {
      display: none;
    }
  }
  &__item-title {
    font-size: $font-size-extra-large;
    font-weight: $font-weight-base-semi-bold;
    color: $dark-grey;
    margin-top: 6px;
    @media screen and (max-width: 768px) {
    padding: 0 10px;
    }
  }
  &__item-image {
    margin-top: 12px;
    height: 0;
    overflow: hidden;
    /*
      To keep the ratio below without stretching/squeezing the image

      498px / 664px = 0.75
    */
    padding-top: 75%;
    background: #FFFFFF;
    position: relative;
    border: 1px solid $border-color;
    #{ $self }__image {
      background: #FFFFFF;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      width: 100%;
    }
  }

  &__item-description {
    margin-top: 21.74px;
    box-sizing: border-box;
    border-bottom: 1px solid $border-color-light;
    padding-bottom: 20.5px;
    #{ $self }__item-description--heading {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      #{ $self }__item-description--title {
        font-size: $font-size-large;
        color: $primary;
        font-weight: $font-weight-base-semi-bold;
        padding: 5px 0;
        border-bottom: 2px solid $primary;
        box-sizing: border-box;
      }

      #{ $self }__item-description--report {
        color: #707070;
        padding-bottom: 5px;
      }
    }

    #{ $self }__item-description--content {
      margin-top: 15px;
      font-size: $font-size-small;
    }
    @media screen and (max-width: 768px) {
      padding: 0 10px 20.5px;
    }
  }

  &__row {
    box-sizing: border-box;
    display: flex;
    flex: 0 1 auto;
    flex-direction: row;
    flex-wrap: wrap;
    margin-right: -11px;
    margin-left: -11px;
    @media screen and (max-width: 768px) {
      margin-right: 0;
      margin-left: 0;
    }
  }

  &__col {
    flex-basis: calc(100% - 325px);
    max-width: calc(100% - 325px);
    box-sizing: border-box;
    -webkit-box-flex: 0;
    padding-right: 11px;
    padding-left: 11px;

    &--extra {
      flex-basis: 325px;
      max-width: 325px;
    }

    @media screen and (max-width: 768px) {
      padding-right: 0;
      padding-left: 0;
      flex-basis: 100%;
      max-width: 100%;
      &--extra {
        flex-basis: 100%;
        max-width: 100%;
      }
    }

    &50 {
      flex-basis: 50%;
      max-width: 50%;
    }
  }
  &__contact-details {
    margin-top: 12px;
    overflow: hidden;
    background: #FFFFFF;
    position: relative;
    border: 1px solid $border-color-light;
    padding: 19px 33px 15.5px;
    @media screen and (max-width: 768px) {
      margin-top: 0;
      padding: 19px 10px 10px;
    }
  }

  &__contact-buttons {
    overflow: hidden;
    background: #FFFFFF;
    position: relative;
    border: 1px solid $border-color-light;
    border-top: none;
    padding: 15px 33px 24px;
    @media screen and (max-width: 768px) {
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100%;
      box-shadow: 0px -3px 6px #00000029;
      padding: 12px 0;
      z-index: 300;
    }
    #{ $self }__legends {
      font-size: $font-size-small;
      @media screen and (max-width: 768px) {
        display: none;
      }
    }
    &--btn {
      margin-top: 10px;
      flex-basis: 100%;
      max-width: 100%;
      box-sizing: border-box;
      -webkit-box-flex: 0;
      display: flex;
      align-items: center;
      @media screen and (max-width: 768px) {
        margin-top: 0;
        flex-basis: 29%;
        max-width: 29%;
        padding: 0 5px
      }
    }
    &--btn-phone {
      @media screen and (max-width: 768px) {
        flex-basis: 42%;
        max-width: 42%;
      }
    }
  }
}

.keyvalue {
  width: 100%;
  margin-top: 15px;
  &__name {
    font-size: $font-size-small;
    color: #707070;
    letter-spacing: 0;
  }
  &__content {
    line-height: 1.1;
    color: $dark-grey;
    &--price {
      color: $primary;
      font-size: $font-size-extra-extra-large;
      font-weight: $font-weight-base-semi-bold;
    }
  }

  &__seller {
    display: flex;
    flex-direction: row;
    &--avatar {
      padding: 4px;
      height: 48px;
      width: 48px;
      font-size: 40px;
      color: #707070;
    }
    &--info {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;
      margin-left: 4px;
    }

    &--name {

    }

    &--type {
      font-size: $font-size-small;
      color: #707070;
      margin-top: 2px;
    }
  }
}
