.row {
  box-sizing: border-box;
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
  margin-right: -8px;
  margin-left: -8px;
}

.col {
  flex-basis: 152px;
  max-width: 152px;
  box-sizing: border-box;
  -webkit-box-flex: 0;
  padding-right: 6px;
  padding-left: 6px;
}
